[submodule "99SVR/Externals/Externals/DTCoreText"]
	path = 99SVR/Externals/Externals/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
[submodule "99SVR/Externals/DTCoreText"]
	path = 99SVR/Externals/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
